{% load static %}

<section class="w-full py-5 bg-gray-200">
    <div class="container my-3 px-4 w-full">
      <div class="h-auto w-1/4">
        <form class="w-[400px] shadow-md rounded-md py-5 px-6">
          <div class="my-3 py-1">
            <label class="block text-emerald-900 font-medium text-xl py-1">
              Academic Level
            </label>
            <select
            id="level_w"
              name="level_w"
              title="level_w"
              onchange="calculate(this.form)"
              class="w-[100%] rounded-md border-1 border outline-none border-none mx-auto items-center justify-center py-3 appearance-none text-gray-600 bg-white shadow-sm px-3"
            >
              <option value="1">HS</option>
              <option value="2">CL</option>
              <option value="3">UG</option>
              <option value="4">MS/Phd</option>
            </select>
          </div>
          <div>
            <label class="block text-emerald-900 font-medium text-xl py-1">
                Subject
              </label>
              <select
              id="sub_w"
                name="sub_w"
                title="sub_w"
                onchange="calculate(this.form)"
                class="w-[100%] rounded-md border-1 border outline-none border-none mx-auto items-center justify-center py-3 appearance-none text-gray-600 bg-white shadow-sm px-3"
              >
                <option value="1">1</option>
                <option value="2">3</option>
                <option value="3">5</option>
                <option value="4">5</option>
              </select>
          </div>
          <div>
            <label class="block text-emerald-900 font-medium text-xl py-1">
              Duration
            </label>
            <select
            onchange="calculate(this.form)"
              name="duration"
              id="duration"
              title="duration"
              class="w-[100%] rounded-md border-1 border border-r-gray-500 mx-auto items-center justify-center py-3 appearance-none text-gray-600 bg-white shadow-sm px-3"
            >
              <option value="1">1 Week</option>
              <option value="2">2 Week</option>
              <option value="3">3 Week</option>
              <option value="4">4 Month</option>
              <option value="5">6 Month</option>
              <option value="6">1 Semester</option>
            </select>
          </div>
          <div class="py-4 w-full">
            <label class="block text-emerald-900 font-medium text-xl py-1">
              Calculated Price
            </label>
            <input
              name="pricing"
              id="priceW"
              value="1.34"
              title="pricing"
              class="w-full text-gray-500 font-medium text-md placeholder:text-gray-400 placeholder:font-medium placeholder:px-4 py-4 px-3 outline-none border-none shadow-md shadow-white"
            />
          </div>
          <a
            href="{% url 'assignments:place_weekly_order' %}"
            class="py-3.5 my-4 w-full px-5 flex items-center justify-center text-center text-white bg-emerald-500"
          >
            Proceed
          </a>
        </form>
      </div>
    </div>
  </section>

  



<script type="text/javascript">

function calculate(f){
    var amount = 0;
    var level = 1;
    var subjects = 1;
    var duration = 1;
    var total = 1
    
    var level = f.level_w.options[f.level_w.selectedIndex].value;
    var sub = f.sub_w.options[f.sub_w.selectedIndex].value;
    var duration = f.duration.options[f.duration.selectedIndex].value;
    
    if(subjects!=0){
        var price = level * subjects;
        var total = price*level;
        var total = total - (duration*0.9)
    }
    var total = total.toFixed(2)
    var dollar = "USD "
    document.getElementById("priceW").value = dollar.concat(total);

}

</script>