{% load static %}

<section class="w-full bg-blue-500/100 py-10">
<div class="container py-5">
<div class="flex sm:flex-row sm:items-center sm:justify-between md:space-x-5 ">
  
  
  <div class="text-start items-start justify-start flex flex-col">
  <h1 class="text-4xl font-bold text-gray-800 py-5 px-3 italic">Better work, better gratuity</h1>
  <p class="text-base py-3 text-2 font-medium tracking-wide" >Our customers willingly show their appreciation for good work giving you decent tips which go straight to your balance.</p>
  </div>
  
  
  <div>
  <button type="button" class="ring-3 py-3 rounded-lg shadow-md px-10 text-white bg-teal-800 font-bold text-xl tracking-wider hover:shadow-sm hover:ring-5 focus:ring-blue-500">Learn More</button>
  </div>

</div>
</div>
</section>

<section class="w-full bg-white py-10">
  <div class="container py-6">
    <div class="">
      <h1
        class="px-0 text-3xl text-center py-5 md:px-8 font-bold text-gray-500 tracking-tight"
      >
        Testimonials About Study Driver
      </h1>
      
      
      <div class="sm:gap-y-0  md:grid grid-cols-3 md:gap-x-10 gap-y-6 space-y-8 md:space-y-0 pt-8">
        
        <div
          class="col-span-1 card border border-gray-300 shadow-sm py-4 px-3 items-center bg-gray-200 hover:shadow-sm w-full md:h-auto"
        >
          <div class="flex flex-col md:flex-row items-center justify-between md:space-x-2">
            <div class="flex items-center justify-between space-x-4">
                <img class="w-10 h-10 rounded-full bg-slate-300" alt="" src="{% static 'assets/icons/star.png' %}" />
                <div class="flex-col px-3">
                <p class="text-sm text-gray-400">Julie #099030c</p>
                <p class="text-sm text-gray-400">2023/08/06</p>
                </div>
            </div>
            
            
            <div class="flex items-center justify-between space-x-2">
                <img class="w-5 h-auto rounded-full" alt="" src="{% static 'assets/icons/star.png' %}" />
                <img class="w-5 h-auto rounded-full" alt="" src="{% static 'assets/icons/star.png' %}" />
                <img class="w-5 h-auto rounded-full" alt="" src="{% static 'assets/icons/star.png' %}" />
                <img class="w-5 h-auto rounded-full" alt="" src="{% static 'assets/icons/star.png' %}" />
                <img class="w-5 h-auto rounded-full" alt="" src="{% static 'assets/icons/star.png' %}" />
            </div>

          </div>
          <div class="md:pt-8 pt-3 py-10">
          <p class="italic text-base text-gray-400 ">
            This site is a life saver. I take my grades seriously so it hurts when I underperform on a subject. There are so many examples to learn from and the customer service is so helpful. I wish I had found this site in my freshman year.
          </p>
          
          </div>
        </div>
        
        
        <div
          class="col-span-1 card border border-gray-300 shadow-sm py-6 px-8 items-center bg-gray-200 hover:shadow-sm w-full md:h-auto"
        >
      </div>
        <div
          class="col-span-1 card border border-gray-300 shadow-sm py-6 px-8 items-center bg-gray-200 hover:shadow-sm w-full md:h-auto"
        >
      </div>
        
      </div>
    
    
    </div>
  </div>
</section>
