{% load static %}

<section class="py-12 px-5 bg-[#1a2e44]">
    <div class="container px-4 py-3">
      <div class="flex flex-col md:grid md:grid-cols-2 md:space-x-4 md:gap-x-5 gap-x-0 space-y-3 md:space-y-0">
        <div class="flex-col md:flex-row md:space-x-4 py-4 px-5 items-center justify-start border border-1 rounded-sm border-gray-300">
          <p class="font-semibold text-xl text-white">We accept</p>
          <div class="flex items-center justify-between space-x-3"></div>
        </div>
        
        <div class="flex-col md:flex-row md:space-x-4 py-4 px-5 items-center justify-start border-spacing-8 border border-1 rounded-sm border-white">
          <p class="font-semibold text-xl text-white">
            It's better in the app
          </p>
          <div class="flex items-center justify-between space-x-3"></div>
        </div>
      
      </div>
    </div>
  </section>

