{% load static %}

<section
  class="bg-white py-4 mx-auto w-full h-full md:shadow-sm sticky top-0"
>
  <div class="container md:px-10 py-3 flex items-center justify-between">
    <div class="flex items-center justify-start space-x-3">
      <h2 class="font-bold text-xl text-gray-800">
        <a href="{% url 'assignments:home' %}">EssayExpert</a>
      </h2>
    </div>
    <div class="hidden md:flex items-center justify-between space-x-3">
      <ul class="hidden md:flex items-center justify-between space-x-3">
        <li><a href="{% url 'assignments:home' %}">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>
        <li><a href="{% url 'flatpages:blog_list' %}">Blog</a></li>
        <li><a href="">Dashboard</a></li>
      </ul>
    </div>
    <div>Actions</div>
  </div>
</section>
