<!doctype html>
{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <title>{% block title %}Essay Expert: {% endblock title %}</title>
  <link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
  rel="stylesheet" />
  
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
<script src="https://cdn.tailwindcss.com/3.3.0"></script>

{% block head %}
{% endblock head %}
</head>

<body class="w-[100%] h-full">
  <nav class="bg-white">
    {% include "(common)/navbar.html" %}
  </nav>
  <main class="w-full bg-white font-sm">
    {% block content %}
   
    
 
    {% endblock content %}
   
  </main>
  <footer>
    
 {% include "(common)/footer.html" %}
  </footer>
  






<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
{% block scripts %}

{% endblock scripts %}

</body>

</html>